/*start task*/
body
{
	margin:0;
}

.row1
{
	
	display: inline-block;
	width: 500px;
	height:400px;
	margin: 100px 30px 0 100px;
	
	padding right: 50px;
	padding-left: 50px;
	
	
	
	
}
.row2
{
	
	display: inline-block;
	width:400px; 
	height:400px;
	padding-right: 100px;
}
    
  #front
  { 
    width: 420px;
  	height: 350px;

  	
  }
  .intro
  {
  	display: inline-block;
  	color: #777;
  }
   .button
   {
   	 background-color: #7652EA;
   	 width: 150px;
   	 height: 50px;
   	 font-size: 20px;
   	 color: #f8f9fa;
   }
/*end task*/